<!DOCTYPE html>
<html lang="en">
  
  <%- include('header.ejs') %>

  <form>
    <fieldset>
      <label for="question">Ingrese pregunta</label>
      <textarea placeholder="¿De que color es el caballo de San Martin?" id="question"></textarea>
      <label for="choiceA">Ingrese Respuesta A</label>
      <textarea placeholder="Blanco" id="choiceA"></textarea>
      <label for="choiceB">Ingrese Respuesta B</label>
      <textarea placeholder="Verde" id="choiceB"></textarea>
      <label for="choiceC">Ingrese Respuesta C</label>
      <textarea placeholder="Negro" id="choiceC"></textarea>
      <label for="video">ingrese URL del video</label>
      <textarea placeholder="Negro" id="url"></textarea>
      <div class="float-right">
        <input type="checkbox" id="confirmField" />
        <label class="label-inline" for="confirmField">Enviar una copia al correo</label>
      </div>
      <input class="button-primary" type="submit" value="Guardar" />
    </fieldset>
  </form>

</html>